configuration {
	font:"Source Code Pro 12";
	theme:"~/.config/rofi/themes/gruvbox-dark.rasi";
	show-icons: true;
	icon-theme: "Papirus";
	modi: "window,run,drun,ssh,combi";
	combi-modi: "window,drun,ssh";
}
